Unified Outreach - Take 5.json
{
  "name": "Unified Outreach - Take 5",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0-59 9-16 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3040,
        480
      ],
      "id": "54ada31a-bb21-4b55-ad66-c0a2034253ae",
      "name": "Schedule Trigger (M-F 9-5 ET, every min)"
    },
    {
      "parameters": {
        "jsCode": "\nconst TZ = 'America/New_York';\nconst DAILY_CAP_STAGE = 20;\nconst SEND_MINUTE_BLOCK = new Set([0,15,30,45]);\nconst BASE_SEND_RATE = 1;\n\nfunction nowEtParts() {\n  const parts = new Intl.DateTimeFormat('en-CA', {\n    timeZone: TZ, weekday: 'short', hour12: false,\n    year:'numeric', month:'2-digit', day:'2-digit',\n    hour:'2-digit', minute:'2-digit', second:'2-digit',\n  }).formatToParts(new Date());\n  const m = Object.fromEntries(parts.map(p => [p.type, p.value]));\n  const wd = ['sun','mon','tue','wed','thu','fri','sat']\n    .indexOf(m.weekday.toLowerCase().slice(0,3));\n  return { wd, h: +m.hour, mi: +m.minute, date: `${m.year}-${m.month}-${m.day}` };\n}\nfunction inEtWindow(h, mi) {\n  const t = h*60 + mi;\n  const amStart = 9*60, amEnd = 11*60 + 59;\n  const pmStart = 13*60, pmEnd = 16*60 + 59;\n  return (t>=amStart && t<=amEnd) || (t>=pmStart && t<=pmEnd);\n}\n\nconst g = $getWorkflowStaticData('global');\ng._outreachDaily = g._outreachDaily || {};\nconst { wd, h, mi, date } = nowEtParts();\nif (!g._outreachDaily.dateEt || g._outreachDaily.dateEt !== date) {\n  g._outreachDaily = { dateEt: date, OR1: 0, OR2: 0, OR3: 0 };\n}\n\nif (wd===0 || wd===6) return [];\nif (!inEtWindow(h, mi)) return [];\nif (SEND_MINUTE_BLOCK.has(mi)) return [];\n\nconst { OR1, OR2, OR3 } = g._outreachDaily;\nconst remaining = { OR1: Math.max(0, DAILY_CAP_STAGE-OR1), OR2: Math.max(0, DAILY_CAP_STAGE-OR2), OR3: Math.max(0, DAILY_CAP_STAGE-OR3) };\nif ((remaining.OR1 + remaining.OR2 + remaining.OR3) === 0) return [];\n\nif (Math.random() >= BASE_SEND_RATE) return [];\n\nreturn [{ json: { startedAt: new Date().toISOString(), remaining } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2860,
        480
      ],
      "id": "773ef9f2-9b85-4ea2-aea7-21b53b4ef242",
      "name": "Gate: human cadence + per-stage caps"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NOl-nGo1AahDplFjVenw0vsIIbgOhn4PxHUsrFWNiJw",
          "mode": "list",
          "cachedResultName": "Master Lead List -Take5",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NOl-nGo1AahDplFjVenw0vsIIbgOhn4PxHUsrFWNiJw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 373699394,
          "mode": "list",
          "cachedResultName": "Nick_Unified_MasterList",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NOl-nGo1AahDplFjVenw0vsIIbgOhn4PxHUsrFWNiJw/edit#gid=373699394"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2600,
        280
      ],
      "id": "4430d062-fd44-4d0f-a8f6-2856e7302615",
      "name": "Google Sheets - OR1 pool",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CF1ZrxRabHVF7gvE",
          "name": "Google Sheets non-trigger - SWAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nfunction truthy(v){ return v===true || v==='true' || v==='TRUE' || v===1 || v==='1'; }\nfunction isYes(v){ return (v||'').toString().trim().toLowerCase()==='yes'; }\nconst out=[];\nfor (const item of items){\n  const j=item.json||{};\n  const trig=j['FollowUp Trigger'];\n  const or2 = j['OR2 Sent'];\n  const or3 = j['OR3 Sent'];\n  const email = j['Primary Email'];\n  if (!email) continue;\n  if (isYes(trig)) continue;\n  if (truthy(or2) || truthy(or3)) continue;\n  out.push(item);\n}\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2180,
        280
      ],
      "id": "0a2c9dfb-1810-4e93-bf40-f75d6eea8d99",
      "name": "Filter OR1 by triggers/email",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NOl-nGo1AahDplFjVenw0vsIIbgOhn4PxHUsrFWNiJw",
          "mode": "list",
          "cachedResultName": "Master Lead List -Take5",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NOl-nGo1AahDplFjVenw0vsIIbgOhn4PxHUsrFWNiJw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 373699394,
          "mode": "list",
          "cachedResultName": "Nick_Unified_MasterList",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NOl-nGo1AahDplFjVenw0vsIIbgOhn4PxHUsrFWNiJw/edit#gid=373699394"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2600,
        480
      ],
      "id": "1dba8910-dfa7-422c-9aa5-e857caeeb198",
      "name": "Google Sheets - OR2 pool",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CF1ZrxRabHVF7gvE",
          "name": "Google Sheets non-trigger - SWAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nfunction truthy(v){ return v===true || v==='true' || v==='TRUE' || v===1 || v==='1'; }\nfunction isYes(v){ return (v||'').toString().trim().toLowerCase()==='yes'; }\nfunction parseDateUS(s){\n  if(!s) return null;\n  const d=new Date(s);\n  if (isNaN(d)) return null;\n  return new Date(d.getFullYear(), d.getMonth(), d.getDate());\n}\nconst today=new Date(); const todayD=new Date(today.getFullYear(), today.getMonth(), today.getDate());\nconst out=[];\nfor (const it of items){\n  const j=it.json||{};\n  if (!isYes(j['FollowUp Trigger'])) continue;\n  if (truthy(j['OR2 Sent'])) continue;\n  const due=parseDateUS(j['FOLLOWUP DATE']);\n  if(!due) continue;\n  if (due<=todayD){ out.push(it); }\n}\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2180,
        480
      ],
      "id": "46cb54e0-29f4-47ef-8bec-64668565d3bf",
      "name": "Filter OR2 due by FOLLOWUP DATE",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1NOl-nGo1AahDplFjVenw0vsIIbgOhn4PxHUsrFWNiJw",
          "mode": "list",
          "cachedResultName": "Master Lead List -Take5",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NOl-nGo1AahDplFjVenw0vsIIbgOhn4PxHUsrFWNiJw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 373699394,
          "mode": "list",
          "cachedResultName": "Nick_Unified_MasterList",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NOl-nGo1AahDplFjVenw0vsIIbgOhn4PxHUsrFWNiJw/edit#gid=373699394"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -2600,
        680
      ],
      "id": "386a66a1-7a42-4545-ba0f-a67016346bae",
      "name": "Google Sheets - OR3 pool",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CF1ZrxRabHVF7gvE",
          "name": "Google Sheets non-trigger - SWAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nfunction truthy(v){ return v===true || v==='true' || v==='TRUE' || v===1 || v==='1'; }\nfunction isYes(v){ return (v||'').toString().trim().toLowerCase()==='yes'; }\nfunction parseDateUS(s){\n  if(!s) return null;\n  const d=new Date(s);\n  if (isNaN(d)) return null;\n  return new Date(d.getFullYear(), d.getMonth(), d.getDate());\n}\nconst today=new Date(); const todayD=new Date(today.getFullYear(), today.getMonth(), today.getDate());\nconst out=[];\nfor (const it of items){\n  const j=it.json||{};\n  if (!isYes(j['FollowUp 2 Trigger'])) continue;\n  if (truthy(j['OR3 Sent'])) continue;\n  const due=parseDateUS(j['FOLLOWUP 2 DATE']);\n  if(!due) continue;\n  if (due<=todayD){ out.push(it); }\n}\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2180,
        680
      ],
      "id": "dc0340e0-13c2-4174-a9ca-2c19b19326ec",
      "name": "Filter OR3 due by FOLLOWUP 2 DATE",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2757867-706b-4096-9e6d-1cdcb8877709",
              "name": "stage",
              "value": "OR1",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1960,
        280
      ],
      "id": "7b38f545-902c-454e-852b-098cb3dbe3f8",
      "name": "Set Stage OR1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00c07f3c-7328-4968-894e-372d1bfb55f9",
              "name": "stage",
              "value": "OR2",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1960,
        480
      ],
      "id": "3ba46135-5587-42b9-9da2-21750c614bef",
      "name": "Set Stage OR2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff9bd99b-c589-482c-a1d4-6c6f7f6ca4af",
              "name": "stage",
              "value": "OR3",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1960,
        680
      ],
      "id": "2c1d5edb-c590-47bb-85b3-5e78075874fa",
      "name": "Set Stage OR3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -1520,
        380
      ],
      "id": "01ab747c-b854-4de0-821d-f4d70c771ed2",
      "name": "Merge OR1 + OR2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -1300,
        480
      ],
      "id": "58aecd46-08e6-485c-a8a4-cc4110c65548",
      "name": "Merge + OR3"
    },
    {
      "parameters": {
        "jsCode": "\nconst TZ='America/New_York';\nfunction todayEt(){\n  const p=new Intl.DateTimeFormat('en-CA',{timeZone:TZ,year:'numeric',month:'2-digit',day:'2-digit'}).formatToParts(new Date());\n  const m=Object.fromEntries(p.map(x=>[x.type,x.value])); return `${m.year}-${m.month}-${m.day}`;\n}\nconst g=$getWorkflowStaticData('global');\nif(!g._outreachDaily || g._outreachDaily.dateEt!==todayEt()) g._outreachDaily={dateEt:todayEt(),OR1:0,OR2:0,OR3:0};\nconst cap=20;\nconst remaining={ OR1: Math.max(0, cap-(g._outreachDaily.OR1||0)), OR2: Math.max(0, cap-(g._outreachDaily.OR2||0)), OR3: Math.max(0, cap-(g._outreachDaily.OR3||0)) };\nreturn items.filter(it => remaining[(it.json&&it.json.stage)||'']>0);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1080,
        480
      ],
      "id": "0bb11b3c-9f71-4062-a5a5-7f06fcd8076c",
      "name": "Filter by per-stage daily caps",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eab90d52-69aa-4a53-ad7b-05e3859d652d",
                    "leftValue": "={{ $json.stage }}",
                    "rightValue": "OR1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "45e84dfc-d5c6-4fa8-8970-2d432c17143f",
                    "leftValue": "={{ $json.stage }}",
                    "rightValue": "OR2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dab8775a-511d-418f-8811-21b8de7ff977",
                    "leftValue": "={{ $json.stage }}",
                    "rightValue": "OR3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -640,
        480
      ],
      "id": "3f411946-6505-4777-ab80-5d710dd0abe7",
      "name": "Switch Stage"
    },
    {
      "parameters": {
        "sendTo": "= {{ $json['Primary Email'] }}",
        "subject": "=Turnkey food-&-beverage content that outperforms stock shots",
        "message": "=<p>Hi {{ $json['First Name'] || 'there' }},</p><p>Marketing leads at companies like McCormick, Chicken Farmers of Canada, Hard Rock, and Protein Candy call on Gotham Studios when:</p><ul><li>internal or agency teams can’t keep up with the volume, polish, or creative vision required;</li><li>launching a new SKU, refreshing a menu, or driving brand awareness demands content that really performs;</li><li>they need an agile partner who delivers strategy, recipe ideation, food styling, and production—all without a big-agency retainer.</li></ul><p>Our in-house crew has produced 2,000+ high-impact food &amp; beverage images and videos, including:</p><ul><li>Scroll-stopping hero shots and GIFs for social feeds</li><li>Step-by-step recipe videos that boost dwell time and add-to-cart rates</li><li>Campaign-ready lifestyle photography aligned to brand guidelines and deadlines</li></ul><p>We handle hosting, file delivery, and post-production, so your team can focus on distribution—not logistics.</p><p>If you’re ever exploring ways to level up content or simply need overflow capacity, I’d love to share a short deck or set up a 10-minute walkthrough.</p><p>Best,<br>Nick Lavery<br>Owner, Gotham Studios</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -420,
        280
      ],
      "id": "45e4d0ee-afbe-4c46-8b9e-7cf774efb06e",
      "name": "Gmail - Send OR1",
      "webhookId": "02c7e0da-c17e-4837-9ddd-525b0f1a105d",
      "credentials": {
        "gmailOAuth2": {
          "id": "IWLnQelqnFeUlJPb",
          "name": "seb@scalewize for testing only"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst TZ='America/New_York';\nfunction toEtDate(d){\n  const p=new Intl.DateTimeFormat('en-CA',{timeZone:TZ,year:'numeric',month:'2-digit',day:'2-digit'}).formatToParts(d);\n  const m=Object.fromEntries(p.map(x=>[x.type,x.value]));\n  return `${m.year}-${m.month}-${m.day}`;\n}\nfunction addBizDays(start, min, max){\n  const add=min + Math.floor(Math.random()*(max-min+1));\n  let d=new Date(start); let k=0;\n  while(k<add){\n    d.setDate(d.getDate()+1);\n    const w=d.getDay();\n    if(w!==0 && w!==6) k++;\n  }\n  return d;\n}\nconst now=new Date();\nconst f1=addBizDays(now,2,4);\nitems[0].json.followUpDateStr = toEtDate(f1);\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        280
      ],
      "id": "95f84fd6-06a2-4041-a53e-0a634156b336",
      "name": "Compute FollowUp Date (after OR1)"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NOl-nGo1AahDplFjVenw0vsIIbgOhn4PxHUsrFWNiJw",
          "mode": "list",
          "cachedResultName": "Master Lead List -Take5",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NOl-nGo1AahDplFjVenw0vsIIbgOhn4PxHUsrFWNiJw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 373699394,
          "mode": "list",
          "cachedResultName": "Nick_Unified_MasterList",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NOl-nGo1AahDplFjVenw0vsIIbgOhn4PxHUsrFWNiJw/edit#gid=373699394"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Primary Email": "={{ $('Google Sheets - OR1 pool').item.json['Primary Email'] }}",
            "FollowUp Trigger": "Yes",
            "FOLLOWUP DATE": "={{ $json.followUpDateStr }}",
            "ThreadId": "={{ $node['Gmail - Send OR1'].json.threadId }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Primary Email"
          ],
          "schema": [
            {
              "id": "Contact Full Name",
              "displayName": "Contact Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name - Cleaned",
              "displayName": "Company Name - Cleaned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Primary Email",
              "displayName": "Primary Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact LI Profile URL",
              "displayName": "Contact LI Profile URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Phone 1",
              "displayName": "Company Phone 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Mobile Phone",
              "displayName": "Contact Mobile Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Location",
              "displayName": "Contact Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Location",
              "displayName": "Company Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Annual Revenue",
              "displayName": "Company Annual Revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Description",
              "displayName": "Company Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Website Domain",
              "displayName": "Company Website Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Industry",
              "displayName": "Company Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company LI Profile Url",
              "displayName": "Company LI Profile Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Revenue Range",
              "displayName": "Company Revenue Range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company News",
              "displayName": "Company News",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "News",
              "displayName": "News",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Wikipedia",
              "displayName": "Wikipedia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Phone",
              "displayName": "Contact Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Original Trigger",
              "displayName": "Original Trigger",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TARGETTED DATE",
              "displayName": "TARGETTED DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HubspotId",
              "displayName": "HubspotId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ThreadId",
              "displayName": "ThreadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FollowUp Trigger",
              "displayName": "FollowUp Trigger",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FOLLOWUP DATE",
              "displayName": "FOLLOWUP DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FollowUp 2 Trigger",
              "displayName": "FollowUp 2 Trigger",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FOLLOWUP 2 DATE",
              "displayName": "FOLLOWUP 2 DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OR2 Sent",
              "displayName": "OR2 Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OR3 Sent",
              "displayName": "OR3 Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        20,
        280
      ],
      "id": "faaa8cf8-f761-44fe-87e4-ea86b4fe98fc",
      "name": "Google Sheets - Update OR1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CF1ZrxRabHVF7gvE",
          "name": "Google Sheets non-trigger - SWAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst TZ='America/New_York';\nfunction todayEt(){ const p=new Intl.DateTimeFormat('en-CA',{timeZone:TZ,year:'numeric',month:'2-digit',day:'2-digit'}).formatToParts(new Date()); const m=Object.fromEntries(p.map(x=>[x.type,x.value])); return `${m.year}-${m.month}-${m.day}`; }\nconst g=$getWorkflowStaticData('global');\nif(!g._outreachDaily || g._outreachDaily.dateEt!==todayEt()){ g._outreachDaily={dateEt:todayEt(),OR1:0,OR2:0,OR3:0}; }\ng._outreachDaily.OR1 = (g._outreachDaily.OR1||0)+1; return items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        280
      ],
      "id": "99f5afd5-42f3-463d-bda6-a9b4309b3dce",
      "name": "Bump Counter OR1"
    },
    {
      "parameters": {
        "sendTo": "= {{ $json['Primary Email'] }}",
        "subject": "=Quick follow-up on turnkey food content",
        "message": "=<p>Hi {{ $json['First Name'] || 'there' }},</p><p>Circling back in case enhanced food &amp; beverage visuals are a priority this quarter. Gotham Studios blends recipe development, styling, and high-volume production so your campaigns never run short on compelling assets. Interested in seeing a few recent case studies?</p><p>Best,<br>Nick Lavery<br>Owner, Gotham Studios</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -420,
        480
      ],
      "id": "9eeefe4f-66b2-4e8c-9c63-bf9d67a0327f",
      "name": "Gmail - Send OR2",
      "webhookId": "4e1390fb-a3a2-4c3b-86f9-b6c90923edd0",
      "credentials": {
        "gmailOAuth2": {
          "id": "IWLnQelqnFeUlJPb",
          "name": "seb@scalewize for testing only"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst TZ='America/New_York';\nfunction toEtDate(d){\n  const p=new Intl.DateTimeFormat('en-CA',{timeZone:TZ,year:'numeric',month:'2-digit',day:'2-digit'}).formatToParts(d);\n  const m=Object.fromEntries(p.map(x=>[x.type,x.value]));\n  return `${m.year}-${m.month}-${m.day}`;\n}\nfunction addBizDays(start, min, max){\n  const add=min + Math.floor(Math.random()*(max-min+1));\n  let d=new Date(start); let k=0;\n  while(k<add){\n    d.setDate(d.getDate()+1);\n    const w=d.getDay();\n    if(w!==0 && w!==6) k++;\n  }\n  return d;\n}\nconst now=new Date();\nconst f2=addBizDays(now,4,7);\nitems[0].json.followUp2DateStr = toEtDate(f2);\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        480
      ],
      "id": "9abfdd58-e8c7-4482-82da-05d4e2766de9",
      "name": "Compute FollowUp2 Date (after OR2)"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NOl-nGo1AahDplFjVenw0vsIIbgOhn4PxHUsrFWNiJw",
          "mode": "list",
          "cachedResultName": "Master Lead List -Take5",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NOl-nGo1AahDplFjVenw0vsIIbgOhn4PxHUsrFWNiJw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 373699394,
          "mode": "list",
          "cachedResultName": "Nick_Unified_MasterList",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NOl-nGo1AahDplFjVenw0vsIIbgOhn4PxHUsrFWNiJw/edit#gid=373699394"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Primary Email": "={{ $('Google Sheets - OR2 pool').item.json['Primary Email'] }}",
            "OR2 Sent": "true",
            "FollowUp 2 Trigger": "Yes",
            "FOLLOWUP 2 DATE": "={{ $json.followUp2DateStr }}",
            "ThreadId": "={{ $node['Gmail - Send OR2'].json.threadId }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Primary Email"
          ],
          "schema": [
            {
              "id": "Contact Full Name",
              "displayName": "Contact Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name - Cleaned",
              "displayName": "Company Name - Cleaned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Primary Email",
              "displayName": "Primary Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact LI Profile URL",
              "displayName": "Contact LI Profile URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Phone 1",
              "displayName": "Company Phone 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Mobile Phone",
              "displayName": "Contact Mobile Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Location",
              "displayName": "Contact Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Location",
              "displayName": "Company Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Annual Revenue",
              "displayName": "Company Annual Revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Description",
              "displayName": "Company Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Website Domain",
              "displayName": "Company Website Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Industry",
              "displayName": "Company Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company LI Profile Url",
              "displayName": "Company LI Profile Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Revenue Range",
              "displayName": "Company Revenue Range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company News",
              "displayName": "Company News",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "News",
              "displayName": "News",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Wikipedia",
              "displayName": "Wikipedia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Phone",
              "displayName": "Contact Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Original Trigger",
              "displayName": "Original Trigger",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TARGETTED DATE",
              "displayName": "TARGETTED DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HubspotId",
              "displayName": "HubspotId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ThreadId",
              "displayName": "ThreadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FollowUp Trigger",
              "displayName": "FollowUp Trigger",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FOLLOWUP DATE",
              "displayName": "FOLLOWUP DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FollowUp 2 Trigger",
              "displayName": "FollowUp 2 Trigger",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FOLLOWUP 2 DATE",
              "displayName": "FOLLOWUP 2 DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OR2 Sent",
              "displayName": "OR2 Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "OR3 Sent",
              "displayName": "OR3 Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        20,
        480
      ],
      "id": "071b21fe-683c-456d-9332-5a7b7aa92aff",
      "name": "Google Sheets - Update OR2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CF1ZrxRabHVF7gvE",
          "name": "Google Sheets non-trigger - SWAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst TZ='America/New_York';\nfunction todayEt(){ const p=new Intl.DateTimeFormat('en-CA',{timeZone:TZ,year:'numeric',month:'2-digit',day:'2-digit'}).formatToParts(new Date()); const m=Object.fromEntries(p.map(x=>[x.type,x.value])); return `${m.year}-${m.month}-${m.day}`; }\nconst g=$getWorkflowStaticData('global');\nif(!g._outreachDaily || g._outreachDaily.dateEt!==todayEt()){ g._outreachDaily={dateEt:todayEt(),OR1:0,OR2:0,OR3:0}; }\ng._outreachDaily.OR2 = (g._outreachDaily.OR2||0)+1; return items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        480
      ],
      "id": "a6326b96-a975-41ed-bc0e-37ccceb173a7",
      "name": "Bump Counter OR2"
    },
    {
      "parameters": {
        "sendTo": "= {{ $json['Primary Email'] }}",
        "subject": "=Final note on rapid-fire content support",
        "message": "=<p>Hi {{ $json['First Name'] || 'there' }},</p><p>Just a last nudge: if you’re considering ways to scale content without overloading your team, Gotham Studios can deliver a complete asset library—from strategy to post-production—on tight timelines. Always happy to talk when the need arises.</p><p>All the best,<br>Nick Lavery<br>Owner, Gotham Studios</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -420,
        680
      ],
      "id": "c239b12f-0e10-4f64-b40d-eca50d1f895e",
      "name": "Gmail - Send OR3",
      "webhookId": "e3dfd8bf-bc17-4f44-a70a-e7b3b4b05a33",
      "credentials": {
        "gmailOAuth2": {
          "id": "IWLnQelqnFeUlJPb",
          "name": "seb@scalewize for testing only"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1NOl-nGo1AahDplFjVenw0vsIIbgOhn4PxHUsrFWNiJw",
          "mode": "list",
          "cachedResultName": "Master Lead List -Take5",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NOl-nGo1AahDplFjVenw0vsIIbgOhn4PxHUsrFWNiJw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 373699394,
          "mode": "list",
          "cachedResultName": "Nick_Unified_MasterList",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NOl-nGo1AahDplFjVenw0vsIIbgOhn4PxHUsrFWNiJw/edit#gid=373699394"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Primary Email": "={{ $('Google Sheets - OR3 pool').item.json['Primary Email'] }}",
            "OR3 Sent": "true",
            "ThreadId": "={{ $node['Gmail - Send OR3'].json.threadId }}",
            "row_number": 0
          },
          "matchingColumns": [
            "Primary Email"
          ],
          "schema": [
            {
              "id": "Contact Full Name",
              "displayName": "Contact Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name - Cleaned",
              "displayName": "Company Name - Cleaned",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Primary Email",
              "displayName": "Primary Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact LI Profile URL",
              "displayName": "Contact LI Profile URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Phone 1",
              "displayName": "Company Phone 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Mobile Phone",
              "displayName": "Contact Mobile Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Location",
              "displayName": "Contact Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Location",
              "displayName": "Company Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Annual Revenue",
              "displayName": "Company Annual Revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Description",
              "displayName": "Company Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Website Domain",
              "displayName": "Company Website Domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Industry",
              "displayName": "Company Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company LI Profile Url",
              "displayName": "Company LI Profile Url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Revenue Range",
              "displayName": "Company Revenue Range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company News",
              "displayName": "Company News",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "News",
              "displayName": "News",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Wikipedia",
              "displayName": "Wikipedia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Contact Phone",
              "displayName": "Contact Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Original Trigger",
              "displayName": "Original Trigger",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "TARGETTED DATE",
              "displayName": "TARGETTED DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "HubspotId",
              "displayName": "HubspotId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ThreadId",
              "displayName": "ThreadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FollowUp Trigger",
              "displayName": "FollowUp Trigger",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FOLLOWUP DATE",
              "displayName": "FOLLOWUP DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FollowUp 2 Trigger",
              "displayName": "FollowUp 2 Trigger",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "FOLLOWUP 2 DATE",
              "displayName": "FOLLOWUP 2 DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OR2 Sent",
              "displayName": "OR2 Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "OR3 Sent",
              "displayName": "OR3 Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "RAW"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -200,
        680
      ],
      "id": "ee9d15d9-7d5d-4bc0-9e87-956594535c47",
      "name": "Google Sheets - Update OR3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CF1ZrxRabHVF7gvE",
          "name": "Google Sheets non-trigger - SWAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst TZ='America/New_York';\nfunction todayEt(){ const p=new Intl.DateTimeFormat('en-CA',{timeZone:TZ,year:'numeric',month:'2-digit',day:'2-digit'}).formatToParts(new Date()); const m=Object.fromEntries(p.map(x=>[x.type,x.value])); return `${m.year}-${m.month}-${m.day}`; }\nconst g=$getWorkflowStaticData('global');\nif(!g._outreachDaily || g._outreachDaily.dateEt!==todayEt()){ g._outreachDaily={dateEt:todayEt(),OR1:0,OR2:0,OR3:0}; }\ng._outreachDaily.OR3 = (g._outreachDaily.OR3||0)+1; return items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        680
      ],
      "id": "2b5d93ee-a4c4-4403-ae1d-2cb7a8c43abe",
      "name": "Bump Counter OR3"
    },
    {
      "parameters": {
        "jsCode": "// Forward only the first item (if any)\nif (items.length === 0) { return []; }\nreturn [ items[0] ];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -860,
        480
      ],
      "id": "ed553216-c899-4057-84d1-4b80c3be3e7f",
      "name": "Take 1 lead"
    },
    {
      "parameters": {
        "jsCode": "function truthy(v){ return v===true || v==='true' || v==='TRUE' || v===1 || v==='1'; }\nfunction isYes(v){ return (v||'').toString().trim().toLowerCase()==='yes'; }\nreturn items.filter(it => {\n  const j = it.json || {};\n  const email = j['Primary Email'] || j['Email'];\n  if (!email) return false;\n  if (isYes(j['FollowUp Trigger'])) return false;\n  if (truthy(j['OR2 Sent']) || truthy(j['OR3 Sent'])) return false;\n  return true;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2380,
        280
      ],
      "id": "0dfb3ed9-6732-4467-bcf9-4676eb3c3e6c",
      "name": "Filter OR1"
    },
    {
      "parameters": {
        "jsCode": "function truthy(v){ return v===true || v==='true' || v==='TRUE' || v===1 || v==='1'; }\nfunction isYes(v){ return (v||'').toString().trim().toLowerCase()==='yes'; }\nfunction d0(s){ const d = new Date(s); return isNaN(d) ? null : new Date(d.getFullYear(), d.getMonth(), d.getDate()); }\nconst today0 = d0(new Date());\nreturn items.filter(({json:j}) => isYes(j['FollowUp Trigger']) && !truthy(j['OR2 Sent']) && d0(j['FOLLOWUP DATE']) && d0(j['FOLLOWUP DATE']) <= today0);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2380,
        480
      ],
      "id": "0aa2bf55-7c5b-4870-bf7e-306e769cf6b9",
      "name": "Filter OR2"
    },
    {
      "parameters": {
        "jsCode": "function truthy(v){ return v===true || v==='true' || v==='TRUE' || v===1 || v==='1'; }\nfunction isYes(v){ return (v||'').toString().trim().toLowerCase()==='yes'; }\nfunction d0(s){ const d = new Date(s); return isNaN(d) ? null : new Date(d.getFullYear(), d.getMonth(), d.getDate()); }\nconst today0 = d0(new Date());\nreturn items.filter(({json:j}) => isYes(j['FollowUp 2 Trigger']) && !truthy(j['OR3 Sent']) && d0(j['FOLLOWUP 2 DATE']) && d0(j['FOLLOWUP 2 DATE']) <= today0);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2380,
        680
      ],
      "id": "03c83d06-d2ae-4e3d-b0fe-8472212a164d",
      "name": "Filter OR3"
    }
  ],
  "pinData": {
    "Schedule Trigger (M-F 9-5 ET, every min)": [
      {
        "json": {
          "timestamp": "2025-09-05T21:31:16.347+02:00",
          "Readable date": "September 5th 2025, 9:31:16 pm",
          "Readable time": "9:31:16 pm",
          "Day of week": "Friday",
          "Year": "2025",
          "Month": "September",
          "Day of month": "05",
          "Hour": "21",
          "Minute": "31",
          "Second": "16",
          "Timezone": "Europe/Copenhagen (UTC+02:00)"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger (M-F 9-5 ET, every min)": {
      "main": [
        [
          {
            "node": "Gate: human cadence + per-stage caps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate: human cadence + per-stage caps": {
      "main": [
        [
          {
            "node": "Google Sheets - OR1 pool",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - OR2 pool",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google Sheets - OR3 pool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - OR1 pool": {
      "main": [
        [
          {
            "node": "Filter OR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter OR1 by triggers/email": {
      "main": [
        [
          {
            "node": "Set Stage OR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - OR2 pool": {
      "main": [
        [
          {
            "node": "Filter OR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter OR2 due by FOLLOWUP DATE": {
      "main": [
        [
          {
            "node": "Set Stage OR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - OR3 pool": {
      "main": [
        [
          {
            "node": "Filter OR3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter OR3 due by FOLLOWUP 2 DATE": {
      "main": [
        [
          {
            "node": "Set Stage OR3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Stage OR1": {
      "main": [
        [
          {
            "node": "Merge OR1 + OR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Stage OR2": {
      "main": [
        [
          {
            "node": "Merge OR1 + OR2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge OR1 + OR2": {
      "main": [
        [
          {
            "node": "Merge + OR3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Stage OR3": {
      "main": [
        [
          {
            "node": "Merge + OR3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge + OR3": {
      "main": [
        [
          {
            "node": "Filter by per-stage daily caps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by per-stage daily caps": {
      "main": [
        [
          {
            "node": "Take 1 lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Stage": {
      "main": [
        [
          {
            "node": "Gmail - Send OR1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Send OR2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail - Send OR3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send OR1": {
      "main": [
        [
          {
            "node": "Compute FollowUp Date (after OR1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute FollowUp Date (after OR1)": {
      "main": [
        [
          {
            "node": "Google Sheets - Update OR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Update OR1": {
      "main": [
        [
          {
            "node": "Bump Counter OR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send OR2": {
      "main": [
        [
          {
            "node": "Compute FollowUp2 Date (after OR2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute FollowUp2 Date (after OR2)": {
      "main": [
        [
          {
            "node": "Google Sheets - Update OR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Update OR2": {
      "main": [
        [
          {
            "node": "Bump Counter OR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Send OR3": {
      "main": [
        [
          {
            "node": "Google Sheets - Update OR3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Update OR3": {
      "main": [
        [
          {
            "node": "Bump Counter OR3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take 1 lead": {
      "main": [
        [
          {
            "node": "Switch Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter OR1": {
      "main": [
        [
          {
            "node": "Filter OR1 by triggers/email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter OR2": {
      "main": [
        [
          {
            "node": "Filter OR2 due by FOLLOWUP DATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter OR3": {
      "main": [
        [
          {
            "node": "Filter OR3 due by FOLLOWUP 2 DATE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9c270a4f-7cad-4ecc-b10c-1d359fd774b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b290958628946814704a7f34e4bcb09ce7f800f716bf502fc7e428d445869d39"
  },
  "id": "zDnRo6DFSikmNIaz",
  "tags": [
    {
      "createdAt": "2025-04-21T19:23:59.731Z",
      "updatedAt": "2025-04-21T19:23:59.731Z",
      "id": "XLvLdtrZ56kT9GZo",
      "name": "Take5"
    },
    {
      "createdAt": "2025-04-21T19:33:45.446Z",
      "updatedAt": "2025-04-21T19:33:45.446Z",
      "id": "eaiCuRkfggNnDqEB",
      "name": "Automation"
    }
  ]
}